<div class='container'>
  Send your survey:
  <h1><%= @survey.title %></h1>
  <p>To all of your friends! Tell them to visit <%= "http://127.0.0.1:9393/survey/#{@survey.id}" %></p>
  <a href="/">Go Home</a>
</div>
