<div class="login_form">
  <form action="/login" method="POST">
    Username:<input type="text" name="user[name]"><br>
    Password:<input type="password" name="user[password]"><br>
    <input type="submit" value="login">

  </form>
</div>
