<div class="signup_form">
  <form action="/signup" method="POST">
    Username:<input type="text" name="user[name]"><br>
    Password:<input type="text" name="user[password]"><br>
    Confirm Password:<input type="text" name="user[password_confirmation]"><br>
    <input type="submit" value="Signup">

  </form>
</div>
